<%= simple_form_for(@gratitude, html: {class: "form-horizontal"}) do |f| %>
  <% if @gratitude.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gratitude.errors.count, "error") %> prohibited this gratitude from being saved:</h2>

      <ul>
      <% @gratitude.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :user_id %> 
<%= f.input :content %>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>



