<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<h1><center>Gratitude Journal</center></h1>

<% if current_user %>
<div class="gratitude-block">

<div class="page-header">
    <h2> All Gratitudes </h2>
</div>

<%= link_to "Post New Gratitude", new_gratitude_path, class:"btn btn-warning" %>

<% current_user.gratitudes.each do |gratitude| %>
  <div class="gratitudes">
    <p><b>Name: </b><%= gratitude.user.first_name %> <%= gratitude.user.last_name  %></p>
    <p><strong>Gratitude: </strong><%= gratitude.content %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(gratitude.created_at) + " ago", gratitude %>
      <span class="admin">
      <%= link_to "Edit", edit_gratitude_path(gratitude) %> |
      <%= link_to "Delete", gratitude, method: :delete, data: {
        confirm: "Are you sure?"} %>
      </span>
    </div>

  </div>
<% end %>

<% else %>



<div class="gratitude-block">

<h2>Welcome to the Gratitude Journal</h2>
<blockquote>"Keeps you inspired and motivated even when things seem bleak." - Mashable</blockquote>

<h4> About </h4>
<p>A gratitude is an emotion expressing appreciation for what you have and is associated with increased optimism, happiness, and empathy. Keeping track of your personal gratitudes builds on proven principles of positive psychology. The Gratitude Journal is a web application to help you keep track of your daily gratitudes and to read about the gratitudes of 
your friends and family members. </p>
<br>
<h4>Features of the Gratitude Journal include: </h4>
  <ul>
  <li>A proven format for easy journaling and sharing</li>
  <li>Keeping up to date with friends and family</li>
  <li>A log of happy moments during your lifetime</li>
  <li>Passcode protection for your privacy</li>
  <li>Inspirational quotes and motivational advice</li>
  <li>Sync and backup so you never lose your entries</li>
  <li>Features to support the gratitudes of loved ones</li>
  </ul>
<br>
<h4> Testimonials</h4>
<smallquote>“Keeping a gratitude journal is the single most important thing I’ve ever done.” - Oprah</smallquote>
<br>
<br>
<smallquote>“This app kept me going through the worst year of my life.” - Vicki, West Virginia</smallquote>
<br>
<br>
<smallquote>“Gratitude is a very powerful feeling and this app reminds me each day where to focus my thoughts.” - Sorosh, India</smallquote>
<br>
<br>
<smallquote>“It got me off life’s treadmill and doing what I really love.” - Barry, Ireland</smallquote>
</div>


<% end %>
</div>
