<div class="page-header">
    <h1> All Gratitudes </h1>
</div>

<%= link_to "Post New Gratitude", new_gratitude_path, class:"btn btn-warning" %>

<% @gratitudes.each do |gratitude| %>
  <div class="gratitudes">

    <p><%= gratitude.content %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(gratitude.created_at) + " ago", gratitude %>
      <span class="admin">
      <%= link_to "Edit", edit_gratitude_path(gratitude) %> |
      <%= link_to "Delete", gratitude, method: :delete, data: {
        confirm: "Are you sure?"} %>
      </span>
    </div>

  </div>
<% end %>
