<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<h1><center>Gratitude Journal</center></h1>

<% if current_user %>
<div class="gratitude-block">

<div class="page-header">
    <h2> My Gratitudes </h2>
</div>

<%= link_to "Post New Gratitude", new_gratitude_path, class:"btn btn-warning" %>

<% current_user.gratitudes.each do |gratitude| %>
    <div class="gratitudes">
      <p><b>Name: </b><%= gratitude.try(:user).try(:full_name)%></p>
      <p><strong>Gratitude: </strong><%= gratitude.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(gratitude.created_at) + " ago", gratitude %>
        <% if current_user.liked? gratitude %>
            <%= link_to "Unlike", dislike_gratitude_path(gratitude), method: :put %>
        <% else %>
          <%= link_to "Like", like_gratitude_path(gratitude), method: :put %>
        <% end %>
        <span class="admin">

        <%= gratitude.get_likes.size %> users like this
        <% if not gratitude.share %>
          <p>This gratitude is private.</p>
        <% end %>
        <%= link_to "Edit", edit_gratitude_path(gratitude) %> |
        <%= link_to "Delete", gratitude, method: :delete, data: {
          confirm: "Are you sure?"} %>
        </span>
      </div>

    </div>
<% end %>

<% else %>

<div class="gratitude-block">
<h2> Please login to continue!</h2>
</div>


<% end %>
</div>
