<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<h1><center>Gratitude Journal</center></h1>
<div class="gratitude-block">
<p id="notice"><%= notice %></p>

<p>
	<b>Name: </b>
	<%= @gratitude.user.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @gratitude.content %>
</p>

<%= link_to 'Edit', edit_gratitude_path(@gratitude) %> |
<%= link_to 'Back', gratitudes_path %>
</div>
